@font-face {
  font-family: "Inter";
  src: url(./assets/fonts/Inter-VariableFont_slnt\,wght.ttf) format("truetype");
  font-weight: 400 800;
  font-style: normal;
  font-display: swap;
}
:root {
  /* Google Font */
  --inter: "Inter", sans-serif;
  /* Colors */
  --soft-orange: hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%);
  --off-white: hsl(36, 100%, 99%);
  --grayish-blue: hsl(233, 8%, 79%);
  --dark-grayish-blue: hsl(236, 13%, 42%);
  --very-dark-blue: hsl(240, 100%, 5%);
}
html,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--inter);
}
.pad-top {
  padding-top: 2rem;
}
.pad-bottom {
  padding-bottom: 2rem;
}
.pad-right {
  padding-right: 2rem;
}
.pad-left {
  padding-left: 2rem;
}
#navbar a {
  text-decoration: none;
}
#navbar a:hover {
  text-decoration: none;
  color: var(--soft-orange);
  cursor: pointer;
}
.w3-bar .w3-bar-item {
  padding: 8px 0 8px 32px;
}
.new-articles {
  background-color: var(--very-dark-blue);
  flex-direction: column;
  justify-content: center;
  padding: 1rem 1.33rem 0;
}
.new-articles div {
  border-bottom: 1px solid var(--dark-grayish-blue);
  padding: 2rem 0;
}
.new-articles div:last-child {
  border-bottom: 0px solid black;
}
.new-articles p {
  color: var(--grayish-blue);
  margin: 0;
}
.new-articles h2 {
  color: var(--soft-orange);
  font-size: 34px;
  font-weight: 700;
}
.new-articles h3 {
  color: var(--off-white);
  font-size: 1.33rem;
  margin: 0 0 12px;
}
.new-articles h3:hover {
  color: var(--soft-orange);
  cursor: pointer;
}
.top-3-articles {
  min-width: 350px;
  margin: 0rem;
}
.top-3-articles h2 {
  font-size: 34px;
  color: var(--soft-red);
}
.top-3-articles h3 {
  font-size: 18px;
}
.top-3-articles p {
  margin-right: 1rem;
}
.top-3-articles h3:hover {
  color: var(--soft-red);
  cursor: pointer;
}
body {
  background-color: var(--off-white);
}
header {
  margin: 2rem 0;
}
h1 {
  font-size: 48px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
  color: var(--very-dark-blue);
  line-height: 1;
}
p {
  font-size: 1rem;
  font-weight: 400;
  color: var(--dark-grayish-blue);
  line-height: 1.75;
}
.read-more-btn {
  background-color: var(--soft-red);
  color: var(--very-dark-blue);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 1rem 2.33rem;
}
.read-more-btn:hover {
  background-color: var(--very-dark-blue);
  color: var(--off-white);
}
a {
  font-family: var(--inter);
}
.attribution {
  font-size: 0.6875rem;
  text-align: center;
  margin-top: 1rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
/* Sizes for bottom section on very small screens */
@media (max-width: 365px) {
  .top-3-articles {
    min-width: 320px;
  }
  .top-3-articles h2 {
    font-size: 26px;
  }
  .top-3-articles h3 {
    font-size: 14px;
  }
  .top-3-articles p {
    font-size: 12px;
  }
}
/* Padding for medium-sized screens */
@media (min-width: 600px) and (max-width: 1080px) {
  body {
    padding: 2rem 10%;
  }
}
/* Hide menu icon */
@media (min-width: 799px) {
  .w3-hide-large {
    display: none !important;
  }
}
/* Hide navbar */
@media (max-width: 800px) {
  .w3-hide-small {
    display: none !important;
  }
}
/* Spacing and widths for small to medium screens */
@media (max-width: 1000px) {
  .w3-col,
  .w3-half,
  .w3-third,
  .w3-twothird,
  .w3-threequarter,
  .w3-quarter {
    width: 100%;
  }
  .pad-right {
    padding-right: 0;
  }
  .pad-left {
    padding-left: 0;
  }
  .new-articles {
    margin-top: 4rem;
  }
  .top-3-articles {
    max-width: 375px;
  }
}
@media (min-width: 1100px) {
  /* Extra margin for larger screens */
  header {
    margin: 1rem 0 4rem;
  }
  /* Minimum height for new articles section */
  .new-articles {
    min-height: 530px;
  }
}
/* Extra padding for larger screens */
@media (min-width: 1330px) {
  body {
    padding: 2rem 10%;
  }
}
